.tipos {
    max-width: 100%;
    overflow: hidden;
    padding-bottom: 30px;
}

.tipos .tipo {
    float: left;
    width: 47%;
    padding: 0px;
    margin: 30px 30px 30px 0px;
}

.tipos .tipo a {
    display: block;
    padding: 30px;
    text-align: center;
    background: #3c753d;
    font-weight: 600;
    padding-left: 153px;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    border: 2px solid #fff;
    font-size: 22px;
    border-radius: 10px;
}

.tipos .tipo a:hover {
    color: #3c753d;
    background: #fff;
    border: 2px solid #3c753d;
}